body{
    background: rgb(140, 167, 255);
}



#instructions{
    position: absolute;
    /* visibility: hidden; */
    /* text-align: center; */
    list-style: inside;
    padding: 30vh;
    font-size: 1rem;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.7s;
    background: rgba(0, 0, 0, 0.8);
}

#instructions button{
    float: right;
    width: 10vw;
    height: 10vh;
}

#instructions button:hover{
    background: black;
    color: white;
}

.score-board{
    text-align: center;
    font-size: x-large;
    font-family: monospace, 'Times New Roman', Times, serif;
}

.turn,
#timer{
    text-align: center;
    font-size: xx-large;
}

.grid-container{
    margin: auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 32% 32% 32%;
    justify-content: space-between;
    width: 40vw;
    height: 50vh;
    margin-top: 7%;
    gap: 2%;
    background: #333;
}

.item{
    background: rgb(140, 167, 255);
    text-align: center;
    font-size: 2rem;
    padding-top: 6vh;
    transition: 0.3s;
}

.item:hover{
    background: rgb(98, 135, 255);
    padding-top: 5vh;
    color: rgb(234, 153, 33);
}

.game-over-screen{
    position: absolute;
    visibility: hidden;
    text-align: center;
    padding: 30vh;
    font-size: 5rem;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* transition: 0.7s; */
    background: rgba(0, 0, 0, 0.8);
}

.game-over-screen button{
    width: 15vw;
    height: 15vh;
}

.game-over-screen button:hover{
    background: black;
    color: white;
}


/* את האפקט של הזיקוקים לקחתי מהאתר:
https://codepen.io/alvaromontoro/pen/QWQWjrj */

@keyframes firework {
    0% {transform: translate(-50%, 40vh); width: 0.5vmin; opacity: 1;}
    50% {width: 0.5vmin; opacity: 1;}
    100% {width: 45vmin; opacity: 0;}
}
  
.firework,
.firework::before,
.firework::after {
    --top: 40vh;
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
      radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
      radial-gradient(circle, rgb(0, 255, 64) 0.3vmin, #0000 0) 00% 50%,
      radial-gradient(circle, rgb(17, 0, 255) 0.5vmin, #0000 0) 50% 99%,
      radial-gradient(circle, rgb(255, 183, 0) 0.2vmin, #0000 0) 99% 50%,
      radial-gradient(circle, rgb(0, 255, 136) 0.3vmin, #0000 0) 80% 90%,
      radial-gradient(circle, rgb(255, 0, 85) 0.5vmin, #0000 0) 95% 90%,
      radial-gradient(circle, rgb(195, 0, 255) 0.5vmin, #0000 0) 10% 60%,
      radial-gradient(circle, rgb(136, 0, 255) 0.2vmin, #0000 0) 31% 80%,
      radial-gradient(circle, rgb(26, 73, 0) 0.3vmin, #0000 0) 80% 10%,
      radial-gradient(circle, rgb(0, 234, 255) 0.2vmin, #0000 0) 90% 23%,
      radial-gradient(circle, rgb(154, 169, 239) 0.3vmin, #0000 0) 45% 20%,
      radial-gradient(circle, rgb(95, 74, 145) 0.5vmin, #0000 0) 13% 24%
      ;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
}
  
.firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important; 
}
  
.firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}